# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual environments
venv/
.env/

# IDE
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Dataset & outputs
data/taco_yolo/
training/runs/
data/snapshots/
*.mp4
*.avi

# Model weights (DO NOT COMMIT)
ml_pipeline/weights/*.pt

# Secrets
.env
config_local.py